{% extends 'landing/base.html.twig' %}
{% set flashesbag = app.flashes %}

{% block body %}
    <div class="container">
        <div class="row">

            {% if flashesbag.success is defined %}
                <div class="col-8 mx-auto bg-success border border-dark shadow rounded">
                    <p>{{ flashesbag.success[0] }}</p>
                </div>
            {% endif %}

            {% if app.user %}

                <div class="col-12 my-5">
                    <h3>Zadanie historyczne</h3>
                </div>

                {% set index = 1 %}
                {% for todo in historical %}
                    <div class="col-5 mx-auto bg-light border border-dark shadow my-3 p-2">
                        <div class="d-inline-block">
                            <strong>Id: {{ todo.id }}</strong>
                            <p> <strong>Opis: </strong> {{ todo.description }}</p>
                            <p><strong>Priorytet: </strong> {{ todo.priorityName }}</p>
                            <p><strong>Przewidywany czas ukończenia: </strong>{{ todo.date|date('Y:m:d H:i')}}</p>
                            <p><strong>Ukończony: </strong> {% if todo.isDone == 1 %}Ukończone!{% else %} Nie ukończone ;( {% endif %}</p>
                            <p><strong>Kategoria: </strong> {{ todo.category.category }}</p>
                        </div>
                        <div class="d-inline-block float-right">

                            <a class="btn btn-outline-primary my-2" href="{{ path('task_edit', {'taskId': todo.id}) }}"><i class="far fa-edit"></i></a>

                            <form  method="post" action="{{ path('task_remove', {'taskId': todo.id}) }}">
                                <input type="hidden" name="_method" value="delete">
                                <button type="submit" class="btn btn-outline-danger w-100" title="Usuń zadanie" onclick="confirm('Na pewno chcesz usunąc?')"><i class="fas fa-times"></i></button>
                            </form>
                        </div>
                    </div>

                    {% set index = index + 1 %}
                {% endfor %}

                <div class="col-12 my-5">
                    <h3>Zadanie Aktualne</h3>
                </div>

                {% set index = 1 %}
                {% for todo in actual %}
                    <div class="col-5 mx-auto bg-light border border-dark shadow my-3 p-2">
                        <div class="d-inline-block">
                            <strong>Id: {{ todo.id }}</strong>
                            <p> <strong>Opis: </strong> {{ todo.description }}</p>
                            <p><strong>Priorytet: </strong> {{ todo.priorityName }}</p>
                            <p><strong>Przewidywany czas ukończenia: </strong>{{ todo.date|date('Y:m:d H:i')}}</p>
                            <p><strong>Ukończony: </strong> {% if todo.isDone == 1 %}Ukończone!{% else %} Nie ukończone ;( {% endif %}</p>
                            <p><strong>Kategoria: </strong> {{ todo.category }}</p>

                        </div>
                        <div class="d-inline-block float-right">

                            <a class="btn btn-outline-primary my-2" href="{{ path('task_edit', {'taskId': todo.id}) }}"><i class="far fa-edit"></i></a>

                            <form  method="post" action="{{ path('task_remove', {'taskId': todo.id}) }}">
                                <input type="hidden" name="_method" value="delete">
                                <button type="submit" class="btn btn-outline-danger w-100" title="Usuń zadanie" onclick="confirm('Na pewno chcesz usunąc?')"><i class="fas fa-times"></i></button>
                            </form>
                        </div>
                    </div>

                    {% set index = index + 1 %}
                {% endfor %}

            {% else %}
                <div class="col-5 mx-auto bg-light border border-dark shadow my-3 p-2">
                    <div class="d-inline-block">
                        <h2>Projekt TODO, gdzie każdy task ma swoje miejsce</h2>
                        <p>Cały czas wpadasz na genialne pomysły, ale o nich zapominasz? Nie martw się, na tym portalu możesz dodać wszystkie swoje plany oraz zaprosić znajomych do wspólnej realizacji zadań. To co, rejestrujesz się?</p>
                    </div>
                </div>

            {% endif %}
        </div>
    </div>

{% endblock %}